
<% var javascript = 'post'; %>

<% // 引入头部文件 %>
<% include common/header %>

<div class="main article-view fl">
  <% if(post) { %>
    <h1><%= post.title %></h1>
    <p class="post-meta">
      <% var date = new Date(parseInt(post.date)); %>
    	<% var month = date.getMonth() + 1 + '';
        if (month.length == 1) {
          month = '0' + month;
      } %>
      
      <span class="date"><%= date.getFullYear() %>年<%= month %>月<%= date.getDate() %>日</span>
      <span class="author"><%= post.author %></span>
    </p>
    <div class="post-content"><%- post.content %></div>
    
    <!-- 评论内容 -->
    <div class="comments-area" id="comments-area">
      <div id="respond" class="respond">
        <h3 id="reply-title">回复</h3>
        <div class="respond-content">
          <form id="respond-form" action="/">
            <p class="item clearfix">
              <label for="author">姓名：</label><input placeholder="昵称" type="text" name="author" class="author" /><span class="required">*</span>
            </p>
            <p class="item clearfix">
              <label for="mail">邮箱：</label><input placeholder="您的邮箱地址" type="text" name="mail" class="mail" /><span class="required">*</span>
            </p>
            <p class="item clearfix">
              <label for="webside">网站：</label><input placeholder="您的网站地址" type="text" name="webside" class="webside" />
            </p>
            <p class="item clearfix">
              <label for="comment">评论：</label><textarea cols="63" rows="8" name="comment"></textarea>
            </p>
            <p class="item clearfix">
              <label></label><input class="submit" name="submit" type="submit" value="提交评论">
            </p>
          <form>
        </div>
      </div>
    </div>
  <% } else { %>
    <p>未找到相应的文章！</p>
  <% } %>
</div>

<% // 引入尾部文件 %>
<% include common/footer %>